.policy-page {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
}


/* main white content section */
.policy-main {
  padding: 20px 0 20px;
}


.policy-content {
  max-width: 820px;
  margin: 0 auto;
  background: #ffffff;
  padding: 50px 50px 60px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.policy-content h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.policy-content p {
  font-size: 1.15rem;
  line-height: 1.9;
  margin-bottom: 14px;
}

