/* MainFooter.css */
html, body {
  height: 100%;  /* Ensure the body takes up full height */
  margin: 0;     /* Remove default margin */
}

.main-footer {
  background: #2d8697;
  height: 80px;   /* Adjust height */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-footer-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer-left {
  display: flex;
  gap: 70px;
  margin-left: 50px;  /* Moves the left texts to the right */
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.footer-link:hover {
  text-decoration: underline;
}

.main-footer-right {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 50px;  /* Moves the icons to the left */
}

.footer-icons {
  display: flex;
  gap: 30px;
}

.footer-icon {
  font-size: 25px;
  color: white;
}

.footer-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media (max-width: 767px) {
  .main-footer-inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-footer-left {
    flex-direction: column;
    gap: 10px;
  }
  .main-footer-right {
    align-self: flex-end;
    gap: 10px;
  }
}
